{# CONTAINER #}
<div id="{{ name }}" class="container-link">
   {% inline_rich_text field="section_title" value="{{ module.section_title }}" %}
  {% for item in module.links_with_icon %}
    {# lINKS LOOP #}
    <div style="margin-bottom:10px;position:relative">
      {% if item.image_field.src %}
      {% set sizeAttrs = 'width="{{ item.image_field.width }}" height="{{ item.image_field.height }}"' %}
      {% if item.image_field.size_type == 'auto' %}
        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
      {% elif item.image_field.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ item.image_field.max_width }}" height="{{ item.image_field.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
       {% set loadingAttr = item.image_field.loading != 'disabled' ? 'loading="{{ item.image_field.loading }}"' : '' %}
      {# ICON #}
      <div style="margin-right:10px;position:relative;display:inline-block; margin-bottom:15px;">
        <img style="position:absolute; top:0px;margin-right:15px;" src="{{ item.image_field.src }}" alt="{{ item.image_field.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      </div>      
      {% endif %}
      {# LINK #}
      <div class="link"  style="display:inline-block;position:absolute;top:3px;">        
          {% inline_rich_text field="link" value="{{ item.link }}" %}               
      </div>   
    </div>
  {% endfor %}
</div>